body {
    text-align: center;
}

@font-face {
    font-family: Bazaronite;
    src: url(Bazaronite.ttf);
}

.container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding-top: 2em;
    
    
}

/*
 * Lives panel
 */

 .lives {
    width: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
 }

 .lives img {
    width: 40px;
    
 }

 .lives ul {
    padding: 0.5em;
 }

 .lives li{
    list-style: none;
    padding: 0;
 }

/*
 * Counter panel
 */
 
 .counter {
    width: 400px;
    height: 30px;
    font-family: Bazaronite;
    font-weight: bold;
    font-size: 3em;
    color: #716d6d;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 10%;
 }

/*
 * Gems panel
 */

 .gems {
    width: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
 }

 .gems img {
    width: 40px;
 }

 .gems ul {
    padding: 0.5em;
 }

 .gems li{
    list-style: none;
    padding: 0;
 }

/*
 * Start panel
 */

.start {
    width:  300px;
    height:  200px;
    background-color:  gainsboro;
    position:  absolute;
    left: 25%;
    margin-left: auto;
    margin-right:  auto;
    top: 22%;
    border-radius: 10px;
    border: 1px solid #f3eaea;
    display: none;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.text {
    position: absolute;
    width: 100%;
    font-family: Bazaronite;
    font-size: 1.5em;
    font-weight: bold;
}
.nav {
    width: 20%;
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

#left {
    margin-left: 15px;
}

.player {
    
    width: 50%;
    height: 50%;

}

.player img {
    cursor: pointer;
}
